html{
    background-color: rgb(240, 240, 240);
    font-family: 'B612', sans-serif;
    text-align: center;
}

#counterDecrementContainer, #counterIncrementContainer{
    display: inline-block;
    margin-right:5px
}

#countdownSubmit{
    margin-top: 1%;
}

button{
    cursor: pointer;
}